body {
  font-family: "Poppins";
  padding-top: 60px; /* Adjust according to your navbar height */
}

section {
  padding: 60px 0;
}


.medium-border {
  height: 3px;
  width: 75px;
}

.small-border {
  height: 1px;
  width: 75px;
}

.logos {
  height: 50px;
  width: 50px;
}

.card-link .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-link .card:hover {
  transform: scale(1.05); /* Slightly increase the card size */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Enhance shadow effect */
}

.custom-col-spacing {
  padding-left: 1rem;
  padding-right: 1rem;
}

.horline {
  width: 80px !important;
  height: 80px !important;
}

.school-logo {
  height: 50px;
  width: 50px;
}

.bi-sun-fill {
  text-shadow: 0 0 5px gold, 0 0 20px orange, 0 0 15px yellow;
  transition: text-shadow 0.3s ease-in-out;
}
.bi-sun-fill:hover {
  text-shadow: 0 0 10px gold, 0 0 10px orange, 0 0 30px yellow;
}

.bi-moon-fill {
  text-shadow: 0 0 5px lightblue, 0 0 20px cyan, 0 0 15px white;
  transition: text-shadow 0.3s ease-in-out;
}
.bi-moon-fill:hover {
  text-shadow: 0 0 10px lightblue, 0 0 10px cyan, 0 0 30px white;
}

.toggle-dark {
  cursor: pointer;
}


@media (max-width: 576px) { /* This targets small screens (up to 576px wide) */
  .medium-border, .small-border {
    width: 50px;
  }
}


